/* -----sidebar----- */
.sidebar{
	top: 0;
	left: 0;
	position: fixed;
	background-color: #35668B;
	width: 90px;
	height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the
sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

section.hanging_logo{
	padding: 0;
	background-color: #B9DDF7;
	height: 70px;
	width: 70px;
	margin: 10px;
}

.navigation{
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

/*Centralizing the text in the sidebar*/
.navigation a{
	padding: 0px 0px 8px 10px;
	align-content: center;
	align-items: center;
	justify-content: center;
	display: block;
}

.navigation a:link, a:visited, a:active{
	color: #B9DDF7;
	text-decoration: none
}

.navigation a:hover{
	color: #A9CDE7;
	text-decoration: underline;
}
