:root{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;

    --bg-color: #232432;
    --unfocus-item: #5b5d7a;
    --font-color: #befcc8;
    --subtle-green: #669984;

    --thickness: 1rem;
    --processor-thickness: 1rem;
}

/** Set base background colour **/
body{
    background-color: var(--bg-color);
}

/** Default element styles **/
body, body *{
    padding: 0;
    margin: 0;
    display: block;
}

/** Set layout **/
#main{
    display: grid;
    place-items: center;
    grid-template-rows: 100vh;
}

.hidden{
    height: 0 !important;
    opacity: 0 !important;
}

#title{
    width: max-content;
    height: max-content;
    display: grid;
    place-items: center;
}

#title h1{
    font-size: 3rem;
    color: var(--font-color);
}

#links{
    height: 3rem;
    transition: height 1s, opacity 1ms;
    transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55), ease;
    display: flex;
}

#links a{
    margin: 0 0.2rem;
}

#links a img, #links a{
    height: 100%;
    transition: 50ms;
}

#links a:hover{
    cursor: pointer;
    height: 110%;
}

#experience > div{
  height: 100vh;
  perspective: 100rem;
}

.rotate{
  transform-style: preserve-3d;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top{
  transform: translateZ(calc(var(--thickness) / 2));
  position: absolute;
  top: 0;
  left: 0;
}

.center{
  transform: translateZ(0);
  position: absolute;
  top: 0;
  left: 0;
}

.back{
  transform: translateZ(calc(-1 * var(--thickness) / 2));
  position: absolute;
  top: 0;
  left: 0;
}

#processor{
  height: 10rem;
  width: 10rem;
  transform: rotateZ(80deg);
  position: absolute;
  transform-style: preserve-3d;

  --thickness: var(--processor-thickness);
}

#processor .top{
  height: 90%;
  width: 90%;
  background: green;
  border-radius: 0.5rem;
  top: 5%;
  left: 5%;
}

#processor .center{
  height: 100%;
  width: 100%;
  background: red;
}

#processor .back{
  height: 100%;
  width: 100%;
  background: blue;
}
