:root{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;

    --bg-color: #232432;
    --unfocus-item: #5b5d7a;
    --font-color: #befcc8;
    --subtle-green: #669984;
}

/** Set base background colour **/
body{
    background-color: var(--bg-color);
}

/** Default element styles **/
body, body *{
    padding: 0;
    margin: 0;
    display: block;
}

/** Set layout **/
#main{
    display: grid;
    place-items: center;
    grid-template-rows: 100vh;
}

.hidden{
    height: 0 !important;
    opacity: 0 !important;
}

#title{
    width: max-content;
    height: max-content;
    display: grid;
    place-items: center;
}

#title h1{
    font-size: 3rem;
    color: var(--font-color);
}

#links{
    height: 3rem;
    transition: height 1s, opacity 1ms;
    transition-timing-function: cubic-bezier(.68,-0.55,.27,1.55), ease;
    display: flex;
}

#links a img, #links a{
    height: 100%;
    transition: 50ms;
}

#links a:hover{
    cursor: pointer;
    height: 110%;
}
