:root{
    font-family: 'Quicksand', sans-serif;

    --dark-colour: #3D3E52;
    --light-colour: #B9DDF7;
    --accent-orange: #f7cbb2;
    --accent-lav: #CBB2F7;
}

html{
    scroll-behavior: smooth;
}

body *{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--dark-colour);
}

/* -----main content----- */

div.main{
    margin-left: 90px;
    padding-left: 0px 15px;
}

div{
    margin: 0;
    position: sticky;
    position: -webkit-sticky;
}

/* Upper-most portion of the page */
#home{
    top: 0;
    min-width: 100%;
    background-color: var(--light-colour);
    display: table;
    height: 50vh;
    color: var(--dark-colour);
}

div.title{
    display: table-cell;
    line-height: 1.25;
    text-align: center;
    vertical-align: middle;
    font-size: 2vmax;
}

div.title h1{
    text-decoration: underline;
    margin: 5px 0px;
    vertical-align: middle;
}

div.title i{font-style: normal;}

section.links{margin: 5px;}

section.links img{
    height: 5vh;
    width: 5vh;
    margin: 0.5%;
    transition: transform .2s; /* animation length */
}

section.links img:hover{
    transform: scale(1.1); /* make the icon grow larger when hover */
    cursor: pointer;
}

section.links a{
    text-decoration: none;
}

#content{
    display: block;
    min-height: 125vh;
    background-color: var(--dark-colour);
}

#content{
    color: var(--light-colour);
}

#content i{
    color: #F7CBB2;
    font-style: normal;
}

#scroll img{
    height: 2vh;
    width: 4vh;
}

#scroll{
    padding-top: 5vh;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
}

#about{
    text-align: center;
    margin: 3vh 0px;
}

#about a:link, #about a:visited, #about a:active{
    color: var(--accent-lav);
    text-decoration: none;
}

#about a:hover{
    color: var(--accent-lav);
    text-decoration: underline;
}

/* Organize all of the work so it takes a larger portion of the screen */

#work{
    padding: 5px 3%;
}

.projects{
    margin-left: 0;
    margin-right: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr))
}

.project{
    border: 1px solid var(--light-colour);

    width: 90%;
    height: 400px;
    text-align: center;
    box-sizing: content-box;

    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
    border-radius: 25px;
}

p.project{
    margin: 0;
}

.codelink:link, .codelink:visited, .codelink:active{
    color: var(--accent-orange);
    text-decoration: none;
}

.codelink:hover{
    color: var(--accent-orange);
    text-decoration: underline;
}
