header{
	padding: 4px;
	line-height: 1.25;
}

section.hanging_logo{
	background-color: #c1e9aa;
	height: 60px;
	width: 60px;
	margin: 0px;
}

.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	line-height: 1.25;
}

body{
	font-family: 'Quicksand', sans-serif;
	background-color: #eee5de;
}