header{
	padding: 4px;
	line-height: 1.25;
}

body{
	font-family: 'Quicksand', sans-serif;
	background-color: #eee5de;
}

/* sidebar */
.sidebar{
	position: fixed;
	background-color: #a3e19b;
	width: 90px;
}

section.hanging_logo{
	background-color: #c1e9aa;
	height: 70px;
	width: 70px;
	margin: 10px;
}

.navigation{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li{
	line-height: 1.5;
}

/*Centralizing the text in the sidebar*/

.navigation a{
	padding: 0px 0px 8px 10px;
	align-content: center;
	align-items: center;
	justify-content: center;
	display: block;
}

.navigation a:link, a:visited, a:active{
	color: #0e2314;
	text-decoration: none
}

.navigation a:hover{
	color: #2f4736;
	text-decoration: underline;
}

/* main content */
.main{
	margin-left: 90px;
}
