body{
	font-family: 'Quicksand', sans-serif;
	color: #091c1c;
	background-color: #eee5de;
}

/* -----main content----- */
.main{
	margin-left: 90px;
	padding-top: 15px
}

.main h1{
	font-size: 32px;
	line-height: 0;
	text-decoration: underline;
}
